<h1 class="form_heading">Forgot Password</h1>
<p class="form-para">
  {{title}}
</p>
<form [formGroup]="forgotForm" (ngSubmit)="validateEmail()">
  <div class="form_filed_wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Enter Email Id</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error>
        {{getControl('email')|validate:'email'}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form_filed_wrapper text-right">
    <a class="forgot" [routerLink]="'LOGIN'|absolutePath">Back</a>
  </div>
  <div class="form_filed_wrapper text-center">
    <button mat-raised-button color="primary">Submit</button>
  </div>
</form>