<div class="white_wrapper action">
    <div class="flex_row">
        <div class="flex_col_sm_5 rowFilterBox">
            <app-search-filter [placeholder]="'Search by title'" (setSearch)="setSearch($event)">
            </app-search-filter>
        </div>
        <div class="flex_col_sm_5">
            <ul class="btn_wrapper text-right">

                <li> <button mat-raised-button (click)="showFilter=!showFilter" color="primary">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button> </li>
                <li> <button mat-raised-button [routerLink]="'NOTIFICATION_ADD' | absolutePath" color="primary">
                        <mat-icon>add</mat-icon> Add Notification
                    </button> </li>
            </ul>
        </div>
    </div>
    <div class="flex_row">
        <ul class="breadcrumb">
            <li>
                <a href="javascript:void(0)">Notifications</a>
            </li>
        </ul>
    </div>
</div>

<div class="white_wrapper filter_wrapper" [class.filter_wrapper_show]="showFilter">
    <div class="flex_row">
        <div class="flex_col_sm_6">
            <app-date-filter [dateObject]="filterObject.registrationDate">
            </app-date-filter>
        </div>
    </div>
    <div class="flex_row">
        <div class="flex_col_sm_10 text-center">

            <ul class="btn_wrapper filter">
                <li> <button filter_btn mat-stroked-button [disabled]="disable()" (click)="resetFilter()">
                        Reset
                    </button>
                </li>
                <li>
                    <button filter_btn mat-raised-button color="primary" [disabled]="disable()" (click)="filter()">
                        Filter
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="white_wrapper">
    <table mat-table [dataSource]="notifications" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S.No </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}}</td>
        </ng-container>


        <!--  Title  Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element?.title | checkNull}}
            </td>
        </ng-container>


        <!-- Push message Column -->
        <ng-container matColumnDef="pushmessage">
            <th mat-header-cell *matHeaderCellDef> Push message </th>
            <td mat-cell *matCellDef="let element"> {{element?.message | checkNull}}
            </td>
        </ng-container>

        <!-- Sent To Column -->
        <ng-container matColumnDef="sentto">
            <th mat-header-cell *matHeaderCellDef> Sent To </th>
            <td mat-cell *matCellDef="let element"> {{element.targetAudience?.name | checkNull}}
            </td>
        </ng-container>

        <!-- Sent On Column -->
        <ng-container matColumnDef="senton">
            <th mat-header-cell *matHeaderCellDef> Sent On </th>
            <td mat-cell *matCellDef="let element">{{element.created | customDate}}
            </td>
        </ng-container>


        <!-- Last seen count Column -->
        <ng-container matColumnDef="lastseen">
            <th mat-header-cell *matHeaderCellDef>Last sent count </th>
            <td mat-cell *matCellDef="let element"> {{element.sentCount | checkNull}} </td>
        </ng-container>


        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button [matMenuTriggerFor]="menu" class="btn-more-menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item [ngClass]=" 'blocked' " (click)="opennotify(element?._id)">
                        <mat-icon matTooltip="send-notification " class="notification">
                            <img src="./assets/images/send_notification.svg">
                        </mat-icon>
                        {{'Send Notification'}}
                    </button>
                    <button mat-menu-item (click)="changeStatus('deleted',element._id)">
                        <mat-icon matTooltip="Edit ">delete
                        </mat-icon> Delete
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
    <div class="white_wrapper" *ngIf="total===0">
        <h2 class="not-found">No Notification Found</h2>
    </div>
    <div class="white_wrapper" *ngIf="notifications.data.length">
        <mat-paginator [length]="total" [pageIndex]="page-1" [pageSize]="pageSize" [pageSizeOptions]="pageOptions" (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>
