mat-radio-button {
    margin: 0 43px 0 0;
}

.flex_row {
    display: flex;
    margin: 0 -10px;
    align-items: center;
}

.breadcrumb {
    width: 100%;
    padding: 10px 15px;
    li {
        display: inline-block;
        a {
            color: #006CB8;
            text-decoration: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            &:before {
                padding: 0 5px;
                color: #B7BEC1;
                content: "/ ";
            }
            &:after {
                content: "/\00a0";
                padding: 0 2px;
                color: #A2ABAE;
            }
            &.active {
                color: rgb(38, 44, 45);
                cursor: default;
                &:after {
                    display: none;
                }
            }
        }
        &:first-child {
            a {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
}

.searchPanel {
    position: absolute;
    top: 20px;
    right: 3px;
    background: #fff;
    width: 29px;
    font-size: 23px;
}

.flex_row {
    align-items: flex-start;
    .form_filed_wrapper {
        position: relative;
        .add {
            position: absolute;
            top: 20px;
            right: -40px;
            cursor: pointer;
            outline: none;
        }
    }
}

// .noneditable {
//     background-color: gray;
// }

button{
    box-shadow:none !important;
    border: 1px solid #79f2c0 !important;
    min-width:104px;
}
:host ::ng-deep{
    .disabled {
        opacity: 0.5;
        cursor: initial;
        .mat-form-field-flex:hover{
            .mat-form-field-outline-start,
            .mat-form-field-outline-end,
            .mat-form-field-outline-gap{
                border-width: 1px !important;
                border-color: #e0e0e0 !important;
            }
        }
    }
}