<div class="white_wrapper">
    <div class="flex_row">
        <div class="flex_col_sm_3">
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Dashboard</a>
                </li>
            </ul>
        </div>
        <div class="flex_col_sm_7">
            <ul class="btn_wrapper text-right">
                <li>
                    <app-filter-count [filterCount]="appliedFilterCount"></app-filter-count>
                </li>

                <li> <button mat-raised-button (click)="showFilter=!showFilter" color="primary">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button> </li>
            </ul>
        </div>
    </div>
    <div class="flex_row">
    </div>
</div>

<div class="white_wrapper filter_wrapper" [class.filter_wrapper_show]="showFilter">
    <div class="flex_row">
        <div class="flex_col_sm_6">
            <app-date-filter [dateObject]="filterObject.registrationDate">
            </app-date-filter>
        </div>
    </div>
    <div class="flex_row">
        <div class="flex_col_sm_10 text-center">

            <ul class="btn_wrapper filter">
                <li> <button filter_btn mat-stroked-button [disabled]="disable()" (click)="resetFilter()">
                        Reset
                    </button>
                </li>

                <li>
                    <button filter_btn mat-raised-button color="primary" [disabled]="disable()" (click)="filter()">
                        Filter
                    </button>
                </li>
            </ul>


        </div>
    </div>
</div>
<div class="flex_row">
    <div class="flex_col_sm_2">
        <div class="countWapper">
            <h6>{{dashBoardCount?.totalCompany}}</h6>
            <p>Total Companies</p>
        </div>
    </div>
    <div class="flex_col_sm_2">
        <div class="countWapper">
            <h6>Rs.{{dashBoardCount?.totalEarning}}</h6>
            <p>Total Earning</p>
        </div>
    </div>

    <div class="flex_col_sm_2">
        <div class="countWapper">
            <h6>{{dashBoardCount?.activeCompany}}</h6>
            <p>Active License</p>
        </div>
    </div>
    <div class="flex_col_sm_2">
        <div class="countWapper">
            <h6>{{dashBoardCount?.expiredCompany}}</h6>
            <p>Expired License</p>
        </div>
    </div>
    <div class="flex_col_sm_2">
        <div class="countWapper">
            <h6>{{dashBoardCount?.expiringInMonth}}</h6>
            <p>License Expiring in a month</p>
        </div>
    </div>
</div>


<!-- </div> -->

<div class="white_wrapper">
    <div class="flex_row">
        <div class="flex_col_sm_10">
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Company List</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex_row">
    </div>
</div>
<div class="white_wrapper">
    <table mat-table [dataSource]="companys" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> S.No </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}} </td>
        </ng-container>


        <!--  Title  Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Comany Code </th>
            <td mat-cell *matCellDef="let element"> {{element?.companyCode | checkNull}}
            </td>
        </ng-container>


        <!-- Push message Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Company Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name | checkNull}}
            </td>
        </ng-container>

        <!-- Sent To Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email ID </th>
            <td mat-cell *matCellDef="let element"> {{element?.email | checkNull}}
            </td>
        </ng-container>

        <!-- Sent On Column -->
        <ng-container matColumnDef="senton">
            <th mat-header-cell *matHeaderCellDef><span [ngClass]="(isFilterApplied && filterForm.value.fromDate)?'appliedFilter':''">Added On
            </span></th>
            <td mat-cell *matCellDef="let element"> {{element?.created | customDate}}
            </td>
        </ng-container>

        <!-- Sent On Column -->
        <ng-container matColumnDef="gracePeriod">
            <th mat-header-cell *matHeaderCellDef>Grace Period</th>
            <td mat-cell *matCellDef="let element"> {{element?.gracePeriod}} Days
            </td>
        </ng-container>

        <!-- Last seen count Column -->
        <ng-container matColumnDef="validity">
            <th mat-header-cell *matHeaderCellDef>License Validity </th>
            <td mat-cell *matCellDef="let element"> {{element?.year}} year {{element?.month}} month </td>
        </ng-container>

        <!-- Last seen count Column -->
        <ng-container matColumnDef="expiry">
            <th mat-header-cell *matHeaderCellDef>License Expiry </th>
            <td mat-cell *matCellDef="let element"> {{element?.expiryDate | customDate}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status </th>
            <td mat-cell *matCellDef="let element">{{element?.status |status|titlecase|checkNull}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button [matMenuTriggerFor]="menu" class="btn-more-menu">
                <mat-icon>more_vert</mat-icon>
            </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="renewalPlan(element?._id)" [disabled]="todayDate<element?.expiryDate">
                    <mat-icon matTooltip="Edit">autorenew
                    </mat-icon>Renewal
                </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

    </table>
</div>
<div class="white_wrapper" *ngIf="total===0">
    <h2 class="not-found">No Data Found</h2>
</div>
